* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

/*header to contain the Logo, the time and the home button*/
header {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

main {
    position: relative;
    top: 50px;
    margin-left: 60px;
    border: 1px none black;
    padding: 10px;
    padding-left: 15px;
}

#homeButton {
    width: 30px;
    color: var(--text);
}

/*AIVFR logo*/
#logoAI {
    color: var(--primary);
}

#logoVFR {
    position: relative;
    right: 3px;
    color: var(--text);
}

#logoAI, #logoVFR {
    font-size: 30px;
    font-weight: 700;
}

#navbar {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  top: 50px;
  width: 60px;
  height: 100vh;
  background-color: var(--highlight);
}

button {
    margin-bottom: 25px;
    background-color: var(--highlight);
    border: none;
    padding: 5px;
    border-radius: 5px;

}

.icon {
    position: relative;
    top: 2px;
    color: var(--text);
    width: 30px;
}

#settings {
    position: absolute;
    bottom: 90px;
    width: 30px;
    left: 14px;
}

hr, #dashboard {
    margin-bottom: 9px;
}

hr  {
    position: relative;
    bottom: 3px;
}

/*gradient overlay*/
#NAVoverlay {
    position: fixed;
    padding-left: 15px;
    margin-left: 60px;
    width: 350px;
    height: 100vh;
    padding-top: 8px;
    background-image: linear-gradient(to right, rgba(0,0,0,50%), rgba(0,0,0,0%));
    display: none;
    z-index: 50;
}

/*all labels*/
.label {
    position: absolute;
    background-color: var(--highlight);
    border-radius: 14px;
    max-width: fit-content;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    display: none;
}

/*adjusting the label's absolute positions*/
#dashboardLABEL { top: 60px; left: 10px; }
#routeLABEL     { top: 125px; left: 10px; }
#weatherLABEL   { top: 192px; left: 10px; }
#navLABEL       { top: 260px; left: 10px; }
#fuelLABEL      { top: 327px; left: 10px; }
#mass_and_balanceLABEL   { top: 395px; left: 10px; }
#performanceLABEL        { top: 463px; left: 10px; }