* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header to contain the Logo, the time and the home button*/
header {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 20px;
}


#homeButton {
    width: 30px;
    color: var(--text);
}

/*AIVFR logo*/
#logoAI {
    color: var(--primary);
}

#logoVFR {
    position: relative;
    right: 3px;
    color: var(--text);
}

#logoAI, #logoVFR {
    font-size: 25px;
    font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  width: 60px;
  height: 100vh;
  background-color: var(--highlight);
}

button {
    margin-bottom: 20px;
}

.icon {
    color: var(--text);
    width: 35px;
}

#settings {
    position: absolute;
    bottom: 10px;
}

hr, #dashboard {
    margin-bottom: 10px;
}


