/* applying normal button hover effects*/
button:hover {
    background-color: var(--onhover); 
    cursor: pointer;
}

/* TARGET buttons have a blue hover effect*/
.TARGET:hover {
    background-color: var(--primary);
    cursor: pointer;
}