.mainMenuButton {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;

}

/* applying normal button hover effects*/
.button:hover {
    background-color: var(--onhover); 
    cursor: pointer;
}

/* TARGET buttons have a blue hover effect*/
.TARGET:hover {
    background-color: var(--primary);
    cursor: pointer;
}