#title {
    font-size: 29.8px;
    font-weight: 300;
}

#dashboard {
    background-color: var(--primary);
    pointer-events: none;
}

#header {
    display: flex;
    justify-content: space-between;
    border: 1px none var(--text);
    height: 46px;
}

#save { /*save flight*/
    width: 165px;
    height: 45px;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 600;
    padding: 8px 26px;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--highlight);
}

#save:hover {
    cursor: pointer;
    background-color: var(--primary);
}

#save.savingOrSaved { /*user feedback when saving/saved */
    background-color: var(--onhover);
    border: none;
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

/*content*/

#content {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.3fr;
    gap: 15px;
    margin-top: 20px;
}

#route_information {
    grid-column: 1;
    grid-row: 1;
    min-height: 200px;
}

#weight_and_performance {
    grid-column: 1;
    grid-row: 2;
    min-height: 200px;
}

#route_details {
    grid-column: 1;
    grid-row: 3;
    min-height: 300px;
}

#weather_info {
    grid-column: 2;
    grid-row: 1 / span 2;
}

#expenses {
    grid-column: 2;
    grid-row: 3;
}

#brief {
    grid-column: 3;
    grid-row: 1 / span 3;
}

.dashboard_content {
    background-color: var(--highlight);
    border-radius: 10px;
    padding: 15px;
}


