#title {
    font-size: 29.8px;
    font-weight: 300;
}

#dashboard {
    background-color: var(--primary);
    pointer-events: none;
}

#header {
    display: flex;
    justify-content: space-between;
    border: 1px none var(--text);
    height: 46px;
}

#save { /*save flight*/
    width: 165px;
    height: 45px;
    font-family: 'Manrope';
    font-size: 15px;
    font-weight: 600;
    padding: 8px 26px;
    border-radius: 5px;
    border: none;
    background-color: var(--highlight);
}

#save:hover {
    cursor: pointer;
    background-color: var(--primary);
}

#save.savingOrSaved { /*user feedback when saving/saved */
    background-color: var(--onhover);
    border: none;
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}