#logoAI, #logoVFR {
    position: relative;
    bottom: 20px;
    font-size: 122px;
    font-weight: 650;
}

#logoAI {
    color: var(--primary);
}

#logoVFR {
    color: var(--text);
}

#logoAlpha {
    color: var(--text);
    position: relative;
    bottom: 30px;
    left: 10px;
    font-weight: 100;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0.1px solid var(--text);
    border-radius: 14px;
    border-top-color: var(--bg) 100px;
    border-spacing: 10px;
}

/*'AI ASSISTED FLIGHT PLANNING'*/
#subtitle {
    position: relative;
    color: var(--text);
    bottom: 45px;
    font-weight: 700
}

body {
    padding-left: 30px;
    padding-top: 10px;
}

/*'settings icon'*/
#settings {
    color: var(--text);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px; 
    right: 30px;
}

#continue {
  width: 260px;
}

#settings:hover {
    cursor: pointer;
}


.mainMenuButton {
    margin-bottom: 20px;
    width: 200px;
    height: 45px;
}

/* Disclaimer modal Content/Box */
.disclaimerModal {
  position: relative;
  background-color: var(--highlight);
  margin: 15% auto; 
  padding: 35px;
  width: 720px;
  border-radius: 15px; 
  text-align: center;
  bottom: 50px;
}

/*'DISCLAIMER' header at the top*/
#disclaimerHeader {
    font-weight: 500;
    font-size: 36px;
    margin-top: auto;
}

/*Continue and go back buttons*/
.disclaimerButton {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--bg);
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;

}
