#title {
    font-size: 29.8px;
    font-weight: 300;
}

#navlog{
    background-color: var(--primary);
    pointer-events: none;
}

#navlogHeader {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

#variationContainer {
    background-color: var(--highlight);
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
}

#variation {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 13px;
    max-width: 80px;
    background-color: var(--bg);
    border: 1px solid var(--onhover);
}

#clearNavlogButton {
    width: 50px;
    margin-right: 10px;
}

#clearNavlogButton:hover {
    background-color: hsla(0 100% 50% / 0.6);
}

#downloadNavlogButton, #clearNavlogButton {
    position: relative;
    padding: 7px 10px 7px 10px;
    top: 2px;
    
}

#AI_icon {
    margin-right: 5px;
}

#navlogTable {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    background-color: var(--highlight);
}

thead {
    background-color: black;
}

th {
    color: white;
    width: 120px;
}

#navlogTable, td, th {
    text-align: center;
    padding: 5px;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 700;
    border: 2px solid black;
}

/*highlighting for automatically calculated values, but not for alternate airport*/
tr:not(.alternate) td:nth-child(8), tr:not(.alternate) td:nth-child(10), tr:not(.alternate) td:nth-child(12) {
     background-color: var(--onhover);
}

/*magnetic heading and planned alt has different coloring*/
tr:not(.alternate) td:nth-child(9) {
    background-color: var(--primary);
}

.tableInput, .tableCalculated {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid var(--onhover);
    background-color: transparent;
    text-align: center;
    font-family: 'Manrope';
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
    color: var(--text);
}

.tableCalculated {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/*---inactive header state when no route available---*/
#navlogHeader.inactive, #navlogTable.inactive {
    opacity: 0.5;
    pointer-events: none;
}

#noData {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*centering*/
    font-family: 'Manrope';
    font-size: 20px;
    font-weight: 600;
    background-color: hsla(0 100% 50% / 0.6);
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    display: none;
}

#noData.active {
    display: block;
}