#title {
    font-size: 29.8px;
    font-weight: 300;
}

#performance {
    background-color: var(--primary);
    pointer-events: none;
}

/*entire div*/
#perf_inputs {
    padding: 2%;
    background-color: var(--highlight);
    width: fit-content;
    border-radius: 15px;
}

#tooltip {
    position: relative;
    margin-top: 15px;
    width: 500px;
    left: 20px;
}

/*centering all content*/
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*input div (text and box)*/
.perf_input {
    margin-bottom: 15px;
}

/*all input boxes*/
input {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
    margin-left: 100px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 13px;
    background-color: var(--bg);
    border: 1px solid var(--onhover);
}