#title {
    font-size: 29.8px;
    font-weight: 300;
}


#route {
    background-color: var(--primary);
    pointer-events: none;
}

/*Main content*/
#content {
    grid-template-columns: 5fr 5fr;
    display: grid; /* grid allows flexible layout */
    gap: 10px;
    border-radius: 10px;
    z-index: 1;
}

.routeItem { /* all items in the route page */
    margin: 2px;
    background-color: var(--highlight);
    padding: 10px;
    border-radius: 10px;
}

/* all these three items are in the first column */
#route_setup, #ICAO_route, #route_generator {
    grid-column: 1 / span 1; 
}

/*map remains in the second column but spans three rows*/
#map {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

/*splitting the route items to take fractions of the viewport height*/
#route_setup {
    min-height: 22vh;
    padding: 15px;
}


#route_generator {
    min-height: 50vh;
}

/*-------Route setup-------*/

#route_setup_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#routeSetupTooltip {
    margin-left: 5px;
    color: var(--text);
    cursor: pointer;
    vertical-align: middle;
}

#toArrow {
    vertical-align: middle;
    transform: scaleX(-1); /* flip the arrow horizontally */
    margin: 0 15px;
    fill: var(--text);
}

#departureArrival, #via, #alternate {
    color: var(--text);
    font-weight: 600;
}

#departure_name, #arrival_name, #via_list, #alternate_name {
    font-weight: 400;
    margin-left: 10px;
    color: var(--text);
    background-color: var(--bg);
    padding: 5px 10px;
    font-size: 14px;
    display: none; /* hide the airport names until they are available */
}

/*when the airport names are available, show them*/
#departure_name.active, #arrival_name.active, #via_list.active, #alternate_name.active {
    display: inline-block;
}

#departure_code, #arrival_code, #alternate_code {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 13px;
    max-width: 80px;
    background-color: var(--bg);
    border: 1px solid var(--onhover);
}

/*MAP*/

#routeMAP {
    position: relative;
     height: 100%; 
     border-radius: 10px; 
     z-index: 90;
     background-color: var(--highlight);
}

a {
    vertical-align: middle;
    margin-right: 5px;
    height: 12px;
}

#ICAOroute{
    padding: 5px;
    background-color: var(--bg);
    color: var(--text);
    width: 100%;
    border-radius: 10px;
    resize: none;/*do not allow resizing*/
    font-family: 'Manrope';
    font-size: 14px;
    border: 1px solid var(--onhover);
    pointer-events: none;
}

#AI_twinkle {
    margin-right: 6px;
    vertical-align: middle;
}

#routePrompt {
    padding: 5px;
    margin-top: 10px;
    background-color: var(--highlight);
    color: var(--text);
    border-radius: 10px;
    resize: none;
    font-family: 'Manrope';
    font-size: 14px;
    width: 100%;
    height: 76.5%;
}

#route_generator {
    display: grid;
    grid-template-columns: 1fr 1fr; /*display them side by side*/
    gap: 10px;
}

#routeOutput {
    background-color: var(--bg);
    color: var(--text);
    border-radius: 10px;
    resize: none; 
    font-family: 'Manrope';
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--onhover);
}

#generateRoute {
    color: var(--text);
    background-color: var(--onhover);
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-family: 'Manrope';
    margin-top: 5px;
}

#generateRoute:hover, #addWaypoint:hover {
    background-color: var(--primary);
}

#mapTilerLogo {
    position: absolute;
    display: none;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: 90px;
    z-index: 1000;
    opacity: 0.8;
    background-color: hsla(0, 0%, 100%, 0.7);
    padding: 5px;
    border-radius: 5px;
}

#ICAO_route {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 10px;
    height: 160px;

}

#addWaypointContainer {
    padding: 10px
}

.waypoint_choice, #addWaypoint {
    width: auto;
    font-family: 'Manrope';
    height: auto;
    font-size: 13px;
    padding: 7px;
    border-radius: 8px;
}

.waypoint_choice {
    background-color: var(--onhover);
    margin-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
}

#addWaypoint{
    width: 100%;
    background-color: var(--bg);
}

#searchWaypoint {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--onhover);
    background-color: var(--bg);
    font-family: 'Manrope';
    padding-left: 5px;
}

#route_plan {
    margin-bottom: 10px;
}

#CityOrTown.active, #avFeature.active {
    background-color: var(--primary);
}