#title {
    font-size: 29.8px;
    font-weight: 300;
}


#route {
    background-color: var(--primary);
    pointer-events: none;
}

/*Main content*/
#content {
    grid-template-columns: 5fr 5fr;
    display: grid; /* grid allows flexible layout */
    gap: 10px;
    border-radius: 10px;
    z-index: 1;
}

.routeItem { /* all items in the route page */
    margin: 2px;
    background-color: var(--highlight);
    padding: 10px;
    border-radius: 10px;
}

/* all these three items are in the first column */
#route_setup, #ICAO_route, #route_generator {
    grid-column: 1 / span 1; 
}

/*map remains in the second column but spans three rows*/
#map {
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
}

/*splitting the route items to take fractions of the viewport height*/
#route_setup {
    height: 22vh;
    padding: 15px;
}

#ICAO_route {
    height: 30vh;
}

#route_generator {
    height: 50vh;
}

/*-------Route setup-------*/

#route_setup_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#routeSetupTooltip {
    margin-left: 5px;
    color: var(--text);
    cursor: pointer;
    vertical-align: middle;
}

#toArrow {
    vertical-align: middle;
    transform: scaleX(-1); /* flip the arrow horizontally */
    margin: 0 15px;
}

#departureArrival, #via, #alternate {
    color: var(--text);
    font-weight: 600;
}

#departure_name, #arrival_name, #via_list, #alternate_name {
    font-weight: 400;
    margin-left: 10px;
    color: var(--text);
    background-color: var(--bg);
    padding: 5px 10px;
    font-size: 14px;
    display: none; /* hide the airport names until they are available */
}

/*when the airport names are available, show them*/
#departure_name.active, #arrival_name.active, #via_list.active, #alternate_name.active {
    display: inline-block;
}

input {
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 3px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 13px;
    max-width: 80px;
}

/*MAP*/

#routeMAP {
     height: 100%; 
     border-radius: 10px; 
     z-index: 90;
}

a {
    vertical-align: middle;
    margin-right: 5px;
    height: 12px;
}