* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header to contain the title and the back button*/
header {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    text-align: center;
}

/*Back arrow*/
#goBack {
    width: 40px;
    margin-left: 10px;
    margin-top: 6px;
    color: var(--text);
}

/*'settings'*/
#settings {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    margin-left: 42vw; /*not centered definitely but is estimate- should fix*/
}

/*------------------YOU MAY WRITE SOME MORE CODE BEFORE WRITING THE ITERATION---------------------*/

/*All buttons default styling*/
button {
    margin-bottom: 20px;
    min-width: 165px;
    height: 45px;
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
}

/*All except the header*/
#options {
    padding: 40px;
}

/*ONLY the buttons under UNITS*/
#UnitsButtons {
    display: flex;
}
