* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text)
}



/*header to contain the title and the back button*/
header {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    text-align: center;
}

/*Back arrow*/
#goBack {
    width: 40px;
    margin-left: 10px;
    margin-top: 6px;
}

/*'settings'*/
#settings {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    margin-left: 42vw; /*not centered definitely but is estimate- should fix*/
}

/*All buttons default styling*/
button {
    margin-bottom: 20px;
    min-width: 165px;
    max-width: min-content;
    min-height: 45px;
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
}

/*All except the header*/
#options {
    padding: 40px;
}


h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

/*ONLY the buttons under UNITS*/
#UnitsButtons {
    display: flex;
    gap: 10px;
}

#darkToggle {
    position: relative; 
    margin-left: 7px; /*dark button spacing from light button*/
    background-color: black;
    color: white;
    border: 0.1px solid hsl(0 0% 96.1%);
}

#lightToggle {
    background-color: white;
    color: black;
    border: 0.1px solid hsl(0 0% 12.5%);
}


/*surely for the settings back button I can do it so it acts the
same as the browser back button so it just goes to last page
it was on? that way no entry state shenannigans*/