* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text)
}



/*header to contain the title and the back button*/
header {
    background-color: var(--highlight);
    display: flex;
    align-items: center;
    text-align: center;
}

/*Back arrow*/
#goBack {
    width: 40px;
    margin-left: 10px;
    margin-top: 6px;
}

/*'settings'*/
#settings {
    position: relative;
    font-size: 24px;
    font-weight: 300;
    margin-left: 42vw; /*not centered definitely but is estimate- should fix*/
}

/*All buttons default styling*/
button {
    margin-bottom: 20px;
    min-width: 165px;
    max-width: min-content;
    min-height: 45px;
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
}

/*All except the header*/
#options {
    padding: 40px;
}


h2 {
    font-weight: 400;
    margin-bottom: 10px;
}

/*ONLY the buttons under UNITS*/
#UnitsButtons {
    display: flex;
    gap: 10px;
}

#darkToggle {
    position: relative; 
    margin-left: 7px; /*dark button spacing from light button*/
    background-color: black;
    color: white;
    border: 0.1px solid hsl(0 0% 96.1%);
}

#lightToggle {
    background-color: white;
    color: black;
    border: 0.1px solid hsl(0 0% 12.5%);
}

/*buttons retain TARGET colour unless clicked again. active must be in classList*/
.dropdown.active {
    background-color: var(--primary);
}

#knots.active,
#mph.active,
#kmph.active,
#feet.active,
#metres.active,
#kg.active, 
#pounds.active,
#litres.active,
#gallons.active,
#nautical_miles.active,
#kilometres.active,
#statute_miles.active {

    background-color: var(--primary);
     }

/*Satellite toggle*/

/*satellite toggle*/

#toggleSatellite {
    align-items: center;
    right: 20px;
    top: 10px;
    color: var(--text);
}

/*switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/*Hide default HTML checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*slider*/
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--onhover);
  -webkit-transition: .4s;
  transition: .4s;
  align-items: center;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--highlight);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px); /*move the circle to the right*/
  -ms-transform: translateX(26px); 
  transform: translateX(26px);
}

#Satellite {
    color: var(--text);
    font-weight: 500;
}