#title {
    font-size: 29.8px;
    font-weight: 300;
}

#weather {
    background-color: var(--primary);
    pointer-events: none;
}

#update { /*update weather report btn*/
    width: 165px;
    height: 45px;
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 600;
    padding: 8px 26px;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--highlight);
    margin-bottom: 10px;
}

#update:hover {
    cursor: pointer;
    background-color: var(--primary);
}

#update_icon {
    width: 30px;
    margin-right: 10px;
}

/*Main content*/
#content {
    grid-template-columns: 5fr 5fr;
    display: grid;
    gap: 10px;
    z-index: 1;
}

.WX_item { /*all items on the weather page*/
    background-color: var(--highlight);
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 15px;
    border-radius: 10px;
}

/*departure and arrival in second column*/
#WX_departure, #WX_arrival {
    grid-column: 2 / span 1; 
}

/*aerodrome search remains in the first column but spans 2 rows*/
#WX_search {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

/*--------------------SEARCHING-------------*/
#searchAirport {
    display: flex;
    justify-content: space-between;
}

#airport_code {
    margin-top: 10px;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    width: 100px;
    text-align: center;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 13px;
    max-width: 80px;
    background-color: var(--bg);
    border: 1px solid var(--onhover);
}

#airport_name {
    font-weight: 400;
    margin-left: 10px;
    color: var(--text);
    background-color: var(--bg);
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    display: none; /*hide the airport names until they are available*/
}

/*when the airport names are available, show them*/
#airport_name.active {
    display: block;
}

/*content box- this is where reports will be*/
#reports {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 3fr;
}

/*-----------Weather reports--------------*/

h3 {
    margin-bottom: 20px;
}

.report {
    background-color: var(--bg);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.grading {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 650;
}

#TAF_searched {
    resize: none;
    width: 100%;
    height: fit-content;
    font-family: 'Manrope';
    font-size: 14px;
    pointer-events: none;
}

#METAR_searched_decoded, #TAF_searched_decoded {
    resize: none;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    font-family: 'Manrope';
}