.mainMenuButton {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;

}

/* applying normal button hover effects*/
.button:hover {
    background-color: var(--onhover); 
    cursor: pointer;
}

/* TARGET buttons have a blue hover effect*/
.TARGET:hover {
    background-color: var(--primary);
    cursor: pointer;
}

/*modals (popups)*/
.modal {
  /*display: none;  makes it hidden by default */
  position: fixed; 
  z-index: 1; /*this makes it appear ontop*/
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: var(--popupbg) 
}
