#logoAI, #logoVFR {
    position: relative;
    bottom: 20px;
    font-size: 122px;
    font-weight: 650;
}

#logoAI {
    color: var(--primary);
}

#logoVFR {
    color: var(--text);
}

#logoAlpha {
    color: var(--text);
    position: relative;
    bottom: 30px;
    left: 10px;
    font-weight: 100;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0.1px solid var(--text);
    border-radius: 14px;
    border-top-color: var(--bg) 100px;
    border-spacing: 10px;
}

/*'AI ASSISTED FLIGHT PLANNING'*/
#subtitle {
    position: relative;
    color: var(--text);
    bottom: 45px;
    font-weight: 700
}

body {
    padding-left: 30px;
    padding-top: 10px;
}

#settings {
    color: var(--text);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px; 
    right: 30px;
}

#continue {
  padding: 7px 36px  
}

#settings:hover {
    cursor: pointer;
}

/*MARGIN
.mainMenuButton {
    margin-bottom: 20px;
}
*/
