<!DOCTYPE html>
<html lang='en'>
  <head>
    <!--Getting the Manrope font from google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <meta charset='UTF-8'name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AIVFR - Home</title>
    <link rel="stylesheet" href="../static/main-menu.css"/>
    <link rel="stylesheet" href="../static/base.css"/>
    <link rel="stylesheet" href="../static/components.css"/>
  </head>
  
  <!--logo-->
  <span id="logoAI">AI</span> <!--having these separated allows me to style them differently-->
  <span id="logoVFR">VFR</span>
  <span id="logoAlpha">Alpha</span>
  <div id="subtitle">AI ASSISTED FLIGHT PLANNING</div>

  <!--Buttons-->
  <div><button class="mainMenuButton TARGET" id="continue">Continue</button></div>
  <div><button class="mainMenuButton button">New Flight</button></div>
  <div><button class="mainMenuButton button">Load Flight</button></div>

  <img src="../static/FPWT_images/setting-icon.svg" alt="settings-icon" id="settings"> <!--settings icon-->

  <!--Disclaimer Modal-->
  <div id="disclaimer" class="modal">
    <div class="disclaimerModal">
      <p>This webapp uses AI. AI can make mistakes. Although no critical calculations related to the flight are performed by AI, any output from it is susceptible to errors, of which I, the developer, will not be responsible for in this regard. You, the pilot in command, is by law responsable for the safe execution of your flight.</p>
      <p> As this tool is only in the Alpha stages, nothing from this tool should be used in real flight and is for educational purposes only. If you decide to use data from this webtool, however accurate it may be, you are doing so at your own risk, and I will not take responsibility for anything that may go wrong.</p>
      <p>By pressing the ‘Continue’ Button, you agree that you have read this disclaimer and agree to the terms above.</p>
    </div>
  </div>

  <body>
</html>
