{% extends "base.html" %} {# grab all the html from base.html, #}  

{% block head %}  {{ super() }} {# inherit everything from the head but add this too #}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}">
<script src="{{ url_for('static', filename='dashboard.js') }}" defer></script>
{% endblock %}

{% block title %} {# edit whats in the title block #}
    Dashboard - AIVFR
{% endblock %}

{% block content %} {# edit what's in between the content block #}
    <div id="header" display="flex">
        <div id="title">DASHBOARD</div>
        <button id="save" class="{{ 'savingOrSaved' if flight.saved == 'True' else '' }}">{{ 'SAVED' if flight.saved == 'True' else 'SAVE FLIGHT' }}</button>
    </div>
{% endblock %}