{% extends "base.html" %} {# grab all the html from base.html, #}  

{% block head %}  {{ super() }} {# inherit everything from the head but add this too #}
<link rel="stylesheet" href="{{ url_for('static', filename='fuel.css') }}">
<script type='module' src="{{ url_for('static', filename='fuel.js') }}" defer></script>
{% endblock %}

{% block title %} {# edit whats in the title block #}
    Fuel - AIVFR
{% endblock %}

{% block content %} {# edit what's in between the content block #}
    <div class="pageTitle" style="display: flex; align-items: center; gap: 10px;">
        <div id="title">FUEL</div>
        <span id="alertBox"></span>
    </div>
{% endblock %}