<!DOCTYPE html>
<html lang='en'>
  <head>
    <!--Getting the Manrope font from google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <meta charset='UTF-8'name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>AIVFR - AI Assisted Flight Planning</title>
    <link rel="stylesheet" href="../static/main-menu.css"/>
    <link rel="stylesheet" href="../static/base.css"/>
    <link rel="stylesheet" href="../static/components.css"/>
    <link rel="icon" type="image/png" href="../static/FPWT_images/logoAIVFR.png">
    <script src="../static/main-menu.js" defer></script>
  </head>

  <body class="{{ 'dark-mode' if settings.theme == 'dark' else '' }}">
  <!--logo-->
  <span id="logoAI">AI</span> <!--having these separated allows me to style them differently-->
  <span id="logoVFR">VFR</span>
  <span id="logoAlpha">Alpha</span>
  <div id="subtitle">AI ASSISTED FLIGHT PLANNING</div>

  <!--Buttons-->
  <div><button class="mainMenuButton TARGET" id="continue">Continue</button></div>
  <div><button class="mainMenuButton button" id="loadFlight">Load Flight</button></div>
  <div><button class="mainMenuButton button" id="newFlight">New Flight</button></div>
  
  <!--settings button-->
  <svg id="settings" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" onclick="window.open('settings', '_self')" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve"><g id="info"/><g id="icons"><path d="M22.2,14.4L21,13.7c-1.3-0.8-1.3-2.7,0-3.5l1.2-0.7c1-0.6,1.3-1.8,0.7-2.7l-1-1.7c-0.6-1-1.8-1.3-2.7-0.7   L18,5.1c-1.3,0.8-3-0.2-3-1.7V2c0-1.1-0.9-2-2-2h-2C9.9,0,9,0.9,9,2v1.3c0,1.5-1.7,2.5-3,1.7L4.8,4.4c-1-0.6-2.2-0.2-2.7,0.7   l-1,1.7C0.6,7.8,0.9,9,1.8,9.6L3,10.3C4.3,11,4.3,13,3,13.7l-1.2,0.7c-1,0.6-1.3,1.8-0.7,2.7l1,1.7c0.6,1,1.8,1.3,2.7,0.7L6,18.9   c1.3-0.8,3,0.2,3,1.7V22c0,1.1,0.9,2,2,2h2c1.1,0,2-0.9,2-2v-1.3c0-1.5,1.7-2.5,3-1.7l1.2,0.7c1,0.6,2.2,0.2,2.7-0.7l1-1.7   C23.4,16.2,23.1,15,22.2,14.4z M12,16c-2.2,0-4-1.8-4-4c0-2.2,1.8-4,4-4s4,1.8,4,4C16,14.2,14.2,16,12,16z"/></g></svg>

  <!--Disclaimer Modal-->
  <div id="disclaimer" class="modal">
    <div class="disclaimerContent">
      <h1 id="disclaimerHeader">DISCLAIMER</h1>
      <p>This webapp uses AI. AI can make mistakes. Although no critical calculations related to the flight are performed by AI, any output from it is susceptible to errors, of which I, the developer, will not be responsible for in this regard. You, the pilot in command, is by law responsable for the safe execution of your flight.</p>
      <p> As this tool is only in the Alpha stages, <u><em><b>nothing from this tool should be used in real flight and is for educational purposes only.</em></b></u> If you decide to use data from this webtool, however accurate it may be, you are doing so at your own risk, and I will not take responsibility for anything that may go wrong.</p>
      <p>By pressing the ‘Continue’ Button, you agree that you have read this disclaimer and agree to the terms above.</p>
      <span><button class="disclaimerButton TARGET" id="disclaimerACCEPT">CONTINUE</button></span>
      <span><button class="disclaimerButton" id="disclaimerEXIT">GO BACK</button></span>
    </div>
  </div>
  
  <!--Upload Flight Modal-->
  <div id="uploadFlight" class="modalUpload">
    <div class="disclaimerContent"> <!--using the disclaimer elements just for ease-->
      <h1 id="disclaimerHeader">LOAD FLIGHT</h1>
      <p>Select a valid flight file (.json) to load your previously saved flight.</p>
      <form id="uploadFlightForm" enctype="multipart/form-data">
        <!--form to allow the user to pick a JSON file from their device-->
        <input  type="file" id="flightFile" name="flightFile" accept=".json" style="display:none;" />
        <label for="flightFile" class="browse">BROWSE</label>
        <span id="fileName">No file chosen</span> <!--separate file name element to allow custom button styling-->
        <button type="submit" class="uploadFlightButton TARGET">LOAD FLIGHT</button>
      </form>
      <hr width="80%">
      <button class="uploadFlightButton" id="uploadFlightEXIT">CANCEL</button>
      <div id="uploadStatus"></div>
    </div>
  </div>

  </body>
</html>