{% extends "base.html" %} {# grab all the html from base.html, #}  

{% block head %}  {{ super() }} {# inherit everything from the head but add this too #}
<link rel="stylesheet" href="{{ url_for('static', filename='route.css') }}">
<script src="{{ url_for('static', filename='route.js') }}" defer></script>
{% endblock %}

{% block title %} {# edit whats in the title block #}
    Route - AIVFR
{% endblock %}

{% block content %} {# edit what's in between the content block #}
    <div id="title">ROUTE</div>

    <div>From:<input id="departure_code" type="text" name="departure_code" placeholder="ICAO Code"></div>
    <p id="departure_name"></p>

    <script>
        const departure_code = document.getElementById("departure_code");
        const departure_name = document.getElementById("departure_name");

        departure_code.addEventListener("keydown", (event) => {
            if (event.key === "Enter") {
                update("departure_code", departure_code.value);
                //at this point we search for the aerodrome
                const output = departure_code.value;
                departure_name.innerText = "airport name for code" + output;
            }
        });
    </script>

{% endblock %}