{% extends "base.html" %} {# grab all the html from base.html, #}  

{% block head %}  {{ super() }} {# inherit everything from the head but add this too #}
<link rel="stylesheet" href="{{ url_for('static', filename='route.css') }}">
<script src="{{ url_for('static', filename='route.js') }}" defer></script>
<script src="{{ url_for('static', filename='base.js') }}" defer></script>
{% endblock %}

{% block title %} {# edit whats in the title block #}
    Route - AIVFR
{% endblock %}

{% block content %} {# edit what's in between the content block #}
      <div id="title">ROUTE</div>
      <div id="content" display="grid">
        
        <!--ROUTE SETUP-->
        <div id="route_setup" class="routeItem">
          ROUTE SETUP
        </div>
    
        <!--ROUTE IN ICAO FORMAT-->
        <div id="ICAO_route" class="routeItem">
          ICAO ROUTE
        </div>
        
        <!--AI ROUTE GENERATOR-->
        <div id="route_generator" class="routeItem">
          ROUTE GENERATOR
        </div>
        
        <!--MAP-->
        <div id="map" class="routeItem">
          MAP
        </div>
      </div>
{% endblock %}