<!DOCTYPE html>
<html lang='en'>
  <head>
    <!--Getting the Manrope font from google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">

    <meta charset='UTF-8'name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Settings - AIVFR</title>
    <link rel="stylesheet" href="../static/base.css"/>
    <link rel="stylesheet" href="../static/components.css"/>
    <link rel="stylesheet" href="../static/settings.css">
  </head>
  <body>

    <header>
      <!--Go back arrow icon-->
      <span><img src="../static/FPWT_images/arrow-icon.svg" alt="back" id="goBack"></span>
      <span>
        <!--title ('settings')-->
        <div id="settings">Settings</div>
      </span>
    </header>

    <div id="options">
      <!--Light/dark toggle-->
      <h2>THEME</h2>
      <button id="lightToggle">Light</button>
      <span><button id="darkToggle">Dark</button></span>
  
      <!--Units-->
      <h2>UNITS</h2>
  
      <div id="UnitsButtons">
        <div> <!--AIRSPEED-->
          <button class="dropdown" style="display: block; ">Airspeed</button>
          <button style="display: block;">Knots</button>
          <button style="display: block;">MPH</button>
          <button style="display: block;">KM/H</button>
        </div>
    
        <div> <!--ALTITUDE-->
          <button class="dropdown"style="display: block;">Altitude</button>
          <button style="display: block;">Feet (ft)</button>
          <button style="display: block;">Metres (m)</button>
        </div>
  
        <div> <!--MASS-->
          <button class="dropdown" style="display: block;">Mass</button>
          <button style="display: block;">Kilograms (kg)</button>
          <button style="display: block;">Pounds (lbs)</button>
        </div>
  
        <div> <!--FUEL-->
          <button class="dropdown" style="display: block;">Fuel</button>
          <button style="display: block;">Litres (l)</button>
          <button style="display: block;">US Gallons (gal)</button>
        </div>
  
        <div> <!--DISTANCE-->
          <button class="dropdown"style="display: block;">Distance</button>
          <button style="display: block;">Nautical Miles (NM)</button>
          <button style="display: block;">Kilometers (km)</button>
          <button style="display: block;">Statute Miles</button>
        </div>
      </div>
    </div>
  </body>
</html>
  