/*===================COLOUR MANAGEMENT===================*/

:root { /*these colours will be used by default...*/
/*BACKGROUND*/                  --bg: hsl(0 0% 96.1%);
/*PRIMARY COLOR*/               --primary: hsl(190 100% 42.5%);
/*MAIN BOX COLOURS*/            --highlight: hsl(0 0% 100%);
/*TEXT*/                        --text: hsl(0 0% 0%);
/*MOUSE HOVER COLOR*/           --onhover: hsl(0 0% 80.4%);
/*DARK OVERLAY FOR POPUP*/      --popupbg: hsla(0, 0%, 0%, 0.33);
/*ALTERNATE SECTION ON NAVLOG*/ --alternate: hsl(48.54, 83.18%, 79.02%);
/*TABLE HEADER COLOUR*/         --tableHeader: #e8e6e4;
/*INPUT BORDER HIGHLIGHTING*/   --inputHighlight: hsla(190, 100%, 42.5%, 0.5);
/*ALERT BOX COLOR*/             --alert: hsla(0 100% 50% / 0.6);
}

/*unless dark mode is toggled, then these become the root
and are used instead*/
.dark-mode,
body[data-theme="dark"] {
/*BACKGROUND*/                  --bg: hsl(0 0% 12.5%);
/*PRIMARY COLOR*/               --primary: hsl(190 100% 27.6%);
/*MAIN BOX COLOURS*/            --highlight: hsl(0 0% 20.8%);
/*TEXT*/                        --text: hsla(0, 0%, 100%, 0.795);
/*MOUSE HOVER COLOR*/           --onhover: hsl(0 0% 32.9%);
/*DARK OVERLAY FOR POPUP*/      --popupbg: hsla(0, 0%, 0%, 0.33);
/*ALTERNATE SECTION ON NAVLOG*/ --alternate: hsl(48.54, 83.18%, 29.02%);
/*TABLE HEADER COLOUR*/         --tableHeader: hsl(0 0% 30.8%);
/*INPUT BORDER HIGHLIGHTING*/   --inputHighlight: hsla(190, 100%, 27.6%, 0.5);
/*ALERT BOX COLOR*/             --alert: hsla(0 100% 50% / 0.6);
}

/*in auto mode use system preference immediately, before JS finishes loading*/
@media (prefers-color-scheme: dark) {
    body[data-theme="auto"] {
/*BACKGROUND*/                  --bg: hsl(0 0% 12.5%);
/*PRIMARY COLOR*/               --primary: hsl(190 100% 27.6%);
/*MAIN BOX COLOURS*/            --highlight: hsl(0 0% 20.8%);
/*TEXT*/                        --text: hsla(0, 0%, 100%, 0.795);
/*MOUSE HOVER COLOR*/           --onhover: hsl(0 0% 32.9%);
/*DARK OVERLAY FOR POPUP*/      --popupbg: hsla(0, 0%, 0%, 0.33);
/*ALTERNATE SECTION ON NAVLOG*/ --alternate: hsl(48.54, 83.18%, 29.02%);
/*TABLE HEADER COLOUR*/         --tableHeader: hsl(0 0% 30.8%);
/*INPUT BORDER HIGHLIGHTING*/   --inputHighlight: hsla(190, 100%, 27.6%, 0.5);
/*ALERT BOX COLOR*/             --alert: hsla(0 100% 50% / 0.6);
    }
}

.light_mode {
/*BACKGROUND*/                   --bg: hsl(0 0% 96.1%);
/*PRIMARY COLOR*/                --primary: hsl(190 100% 42.5%);
/*MAIN BOX COLOURS*/             --highlight: hsl(0 0% 100%);
/*TEXT*/                         --text: hsl(0 0% 0%);
/*MOUSE HOVER COLOR*/            --onhover: hsl(0 0% 80.4%);
/*DARK OVERLAY FOR POPUP*/       --popupbg: hsla(0, 0%, 0%, 0.33);
/*ALTERNATE SECTION ON NAVLOG*/  --alternate: hsl(48.54, 83.18%, 79.02%);
/*TABLE HEADER COLOUR*/          --tableHeader: #e8e6e4;
/*INPUT BORDER HIGHLIGHTING*/    --inputHighlight: hsla(190, 100%, 42.5%, 0.5);
/*ALERT BOX COLOR*/              --alert: hsla(0 100% 50% / 0.6);
}

/*===================GLOBAL STYLES===================*/
body {
    background-color: var(--bg);
    font-family: 'Manrope'; /*always use manrope font*/
}

.text {
    font-family: 'Manrope';
    color: var(--text);
}

/*removeing increment UI from number inputs*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*-------styling for all user inputs (text, textarea, and select)------*/
input, textarea, select {
    outline: none;
    transition: box-shadow 0.1s ease-in-out;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 3px var(--inputHighlight);   
}