/*---This page is for styling components that are used across multiple pages, such as tables and buttons---*/

/* applying normal button hover effects*/
button:hover {
    background-color: var(--onhover); 
    cursor: pointer;
}

/* TARGET buttons have a blue hover effect*/
.TARGET:hover {
    background-color: var(--primary);
    cursor: pointer;
}