* {
    color: var(--text)
}


#logoAI, #logoVFR {
    position: relative;
    bottom: 20px;
    font-size: 122px;
    font-weight: 650;
}

#logoAI {
    color: var(--primary);
}

#logoVFR {
    color: var(--text);
}

#bluePlaneLogo{
    position: fixed;
    bottom: -320px;
    left: 330px;
    width: 85%;
    opacity: 0.15;
    z-index: -1;

}

#logoAlpha {
    color: var(--text);
    position: relative;
    bottom: 30px;
    left: 10px;
    font-weight: 100;
    padding: 6px;
    padding-right: 10px;
    padding-left: 10px;
    border: 0.1px solid var(--text);
    border-radius: 14px;
    border-top-color: var(--bg) 100px;
    border-spacing: 10px;
}

/*'AI ASSISTED FLIGHT PLANNING'*/
#subtitle {
    position: relative;
    color: var(--text);
    bottom: 45px;
    font-weight: 700
}

body {
    padding-left: 30px;
    padding-top: 10px;
}

/*'settings icon'*/
#settings {
    color: var(--text);
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px; 
    right: 30px;
    transition: rotate 0.3s;
}

#continue {
  width: 260px;
}

#settings:hover {
    cursor: pointer;
    rotate: 45deg;
}


.mainMenuButton {
    margin-bottom: 20px;
    width: 200px;
    height: 45px;
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--highlight);
    border: none;
    padding: 8px 26px;
    border-radius: 5px;
    transition: translate 0.2s;
}

.mainMenuButton:hover {
    translate: 10px;
}

/* Disclaimer modal Content/Box */
.disclaimerContent {
  position: relative;
  background-color: var(--highlight);
  margin: 7% auto;
  padding: 35px;
  width: 920px;
  border-radius: 15px; 
  bottom: 50px;
  /*allow scrolling if content is too long*/
  max-height: 80vh;
  overflow-y: auto;
}

#agreement{
    text-align: center;
}

/*'DISCLAIMER' header at the top*/
#disclaimerHeader {
    font-weight: 500;
    font-size: 36px;
    margin-top: auto;
    text-align: center;
}

/*Continue and go back buttons*/
.disclaimerButton {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--bg);
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    left: 310px;

}

/*disclaimer modal (background)*/
.modal{
  display: none;  /*makes it hidden by default */
  position: fixed; 
  z-index: 1; /*this makes it appear ontop*/
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: var(--popupbg);
}

/*load flight modal*/
.modalUpload{
  display: none;  
  position: fixed; 
  z-index: 1; /*this makes it appear ontop*/
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: var(--popupbg);
}

/* Upload Flight Modal Content/Box */
.uploadFlightContent {
  position: relative;
  background-color: var(--highlight);
  margin: 10% auto; 
  padding: 35px;
  width: 720px;
  border-radius: 15px; 
  text-align: center;
  bottom: 50px;
}

.uploadFlightButton {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--bg);
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid;
    width: 90%;
    margin-top: 1px;
    margin-bottom: 20px;
    color: hsla(0, 0%, 0%, 0.1);
}

/*browse button*/
.browse {
    position: relative;
    font-family: 'Manrope';
    font-size: 20px;
    background-color: var(--bg);
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.browse:hover {
    cursor: pointer;
    background-color: var(--primary);
}

/*file name display*/
#fileName {
    font-family: 'Manrope';
    font-size: 18px;
    color: var(--text);
    margin-left: 15px;
    font-weight: 600;
}

#uploadFlightEXIT {
    position: relative;
    right: 50px;
}

.footer {
    position: absolute;
    text-align: center;
    padding: 0px;
    font-size: 14px;
    right: 15px;
    bottom: 0px;
}

#version {
    position: absolute;
    text-align: center;
    padding: 0px;
    font-size: 14px;
    left: 0px;
    bottom: -14px;
    opacity: 0.3;
}

.footer a, #version a {
    color:gray;
    text-decoration: none;
}
.footer a:hover, #version a:hover {
    text-decoration: underline;
}

#deployed {
    margin-top: -10px;
}

button {
    transition: background-color 0.2s;
}

/*------Changelog------*/

#changelog {
    position: absolute;
    top: 100px;
    right: 250px;
    width: 500px;
    max-height: 400px;
    overflow-y: auto;
    background-color: var(--highlight);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-family: 'Manrope';
}

/*adding media query to ensure changelog doesn't cover title when screen is small*/
@media (max-width: 1200px) {
    #changelog {
        position: static;
    }
}